# Used Car Price Prediction

## 1) Problem statement.

* This dataset comprises used cars sold on cardehko.com in India as well as important features of these cars.
* If user can predict the price of the car based on input features.
* Prediction results can be used to give new seller the price suggestion based on market condition.

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

%matplotlib inline

In [40]:
df = pd.read_csv(r"C:\Anand\Data Science\Machin Learning\9 - Random Forest\Projects\Regression\cleaned_data.csv", index_col=[0])

In [41]:
df.head()

,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai,I20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [42]:
df['brand'].unique()

array(['Maruti', 'Hyundai', 'Ford', 'Renault', 'Mini', 'Mercedes-Benz',
       'Toyota', 'Volkswagen', 'Honda', 'Mahindra', 'Datsun', 'Tata',
       'Kia', 'Bmw', 'Audi', 'Land Rover', 'Jaguar', 'Mg', 'Isuzu',
       'Porsche', 'Skoda', 'Volvo', 'Lexus', 'Jeep', 'Maserati',
       'Bentley', 'Nissan', 'Ferrari', 'Mercedes-Amg', 'Rolls-Royce',
       'Force'], dtype=object)

In [43]:
df['model'].unique()

array(['Alto', 'Grand', 'I20', 'Ecosport', 'Wagon R', 'I10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'Kwid', 'Amaze', 'Santro', 'Xuv500', 'Kuv100', 'Ignis',
       'Redigo', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'Go', '5', 'Cr-V',
       'Endeavour', 'Kuv', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'Xf', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'Xuv300', 'Dzire Vxi', 'S90',
       'Wr-V', 'Xl6', 'Triber', 'Es', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'Gl-Class', '7', 'S-Presso', 'Dzire Lxi', 'Aura', 'Xc',
       'Ghibli', 'Continental', 'Cr', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'Cls', 'Redi-Go', 'Glanza',
       'Macan', 'X4', 'Dzire Zxi', 'Xc90', 'F-Pace', 'A8', 'Mux',
       'Gtc4Lusso', 'Gls', 'X-Trail', 'Xe', 'Xc60', 'Panamera', 'Alturas',
       'Altroz', 'Nx', 'Carnival', 'C', 'Rx', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15405 entries, 0 to 19543
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              15405 non-null  object
 1   model              15405 non-null  object
 2   vehicle_age        15405 non-null  int64
 3   km_driven          15405 non-null  int64
 4   seller_type        15405 non-null  object
 5   fuel_type          15405 non-null  object
 6   transmission_type  15405 non-null  object
 7   mileage            15405 non-null  float64
 8   engine             15405 non-null  int64
 9   max_power          15405 non-null  float64
 10  seats              15405 non-null  int64
 11  selling_price      15405 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 1.5+ MB

In [45]:
df.columns

Index(['brand', 'model', 'vehicle_age', 'km_driven', 'seller_type',
       'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats', 'selling_price'],
      dtype='object')

In [46]:
from sklearn.model_selection import train_test_split
X = df.drop(['selling_price'], axis=1)
y = df['selling_price']

In [47]:
X.head()

,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,Hyundai,I20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

## Feature Encoding and Scaling
**One Hot Encoding for Columns which had lesser unique values and not ordinal**

In [48]:
len(df['model'].unique())

120

In [49]:
df['model'].value_counts()

model
I20             906
Swift Dzire     890
Swift           781
Alto            777
City            756
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [50]:
len(df['brand'].unique())

31

In [51]:
df['brand'].value_counts()

brand
Maruti           4988
Hyundai          2982
Honda            1484
Mahindra         1011
Toyota            793
Ford              790
Volkswagen        620
Renault           536
Bmw               438
Tata              430
Mercedes-Benz     337
Skoda             334
Audi              192
Datsun            170
Jaguar             59
Land Rover         51
Jeep               41
Kia                32
Porsche            21
Volvo              20
Mg                 19
Mini               17
Nissan             11
Lexus              10
Isuzu              10
Bentley             3
Maserati            2
Ferrari             1
Mercedes-Amg        1
Rolls-Royce         1
Force               1
Name: count, dtype: int64

In [52]:
numeric_cols = ['vehicle_age', 'km_driven', 'mileage', 'engine', 'max_power', 'seats', 'selling_price']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [53]:
cat_cols = ['brand', 'model', 'seller_type', 'fuel_type', 'transmission_type']
for col in cat_cols:
    df[col] = df[col].str.strip().str.title()
    print(df[col].value_counts())

brand
Maruti           4988
Hyundai          2982
Honda            1484
Mahindra         1011
Toyota            793
Ford              790
Volkswagen        620
Renault           536
Bmw               438
Tata              430
Mercedes-Benz     337
Skoda             334
Audi              192
Datsun            170
Jaguar             59
Land Rover         51
Jeep               41
Kia                32
Porsche            21
Volvo              20
Mg                 19
Mini               17
Nissan             11
Lexus              10
Isuzu              10
Bentley             3
Maserati            2
Ferrari             1
Mercedes-Amg        1
Rolls-Royce         1
Force               1
Name: count, dtype: int64
model
I20             906
Swift Dzire     890
Swift           781
Alto            777
City            756
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64
seller_type
Dealer              9538
Individual          5694
Trustmark Dealer     173
Name: count, dtype: int64
fuel_type
Petrol      7637
Diesel      7419
Cng          301
Lpg           44
Electric       4
Name: count, dtype: int64
transmission_type
Manual       12220
Automatic     3185
Name: count, dtype: int64

In [54]:
from sklearn.preprocessing import LabelEncoder
le_brand = LabelEncoder()
le_model = LabelEncoder()

X['brand'] = le_brand.fit_transform(X['brand'])
X['model'] = le_model.fit_transform(X['model'])

In [55]:
X.head()

,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,16,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,8,53,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,8,60,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,16,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,6,37,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [56]:
len(df['seller_type'].unique())

3

In [57]:
len(df['fuel_type'].unique())

5

In [58]:
len(df['transmission_type'].unique())

2

In [59]:
num_features = X.select_dtypes(exclude="object").columns
print(num_features)

Index(['brand', 'model', 'vehicle_age', 'km_driven', 'mileage', 'engine',
       'max_power', 'seats'],
      dtype='object')

In [60]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
        ("StandardScaler", numeric_transformer, num_features)
        
    ],remainder='passthrough'
    
)

In [61]:
X=preprocessor.fit_transform(X)

In [62]:
X

array([[ 1.        ,  0.        ,  0.        , ..., -1.32443455,
        -1.26345995, -0.40311364],
       [ 1.        ,  0.        ,  0.        , ..., -0.55490995,
        -0.43270792, -0.40311364],
       [ 1.        ,  0.        ,  0.        , ..., -0.55490995,
        -0.47924865, -0.40311364],
       ...,
       [ 0.        ,  0.        ,  1.        , ...,  0.02271325,
         0.06807034, -0.40311364],
       [ 0.        ,  0.        ,  1.        , ...,  1.32956177,
         0.91697326,  2.07294923],
       [ 0.        ,  0.        ,  0.        , ...,  0.02079424,
         0.39571708, -0.40311364]], shape=(15405, 15))

In [63]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.233740,-1.522021,0.992036,1.247311,-0.000503,-1.324435,-1.263460,-0.403114
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.836204,-0.152079,-0.343889,-0.689824,-0.192300,-0.554910,-0.432708,-0.403114
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.836204,0.056390,1.659999,0.085030,-0.647820,-0.554910,-0.479249,-0.403114
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.233740,-1.522021,0.992036,-0.360511,0.291989,-0.936794,-0.779436,-0.403114
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-1.103691,-0.628581,-0.009908,-0.496110,0.735521,0.022713,-0.046653,-0.403114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15400,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.836204,0.026609,0.992036,-0.869532,0.025870,-0.767921,-0.757330,-0.403114
15401,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.233740,-0.509455,-1.345833,-0.728566,-0.527946,-0.217163,-0.220948,2.072949
15402,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.571170,0.592454,-0.009908,0.220630,0.344733,0.022713,0.068070,-0.403114
15403,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.099997,1.753927,-0.343889,72.533865,-0.887567,1.329562,0.916973,2.072949
15404,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.969947,-1.075301,-1.345833,-0.825423,-0.408073,0.020794,0.395717,-0.403114

In [64]:
# separate dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((12324, 15), (3081, 15))

In [65]:
X_train

array([[ 1.        ,  0.        ,  0.        , ..., -0.7679205 ,
        -0.89578818, -0.40311364],
       [ 1.        ,  0.        ,  1.        , ...,  2.43491381,
         1.71980086,  2.07294923],
       [ 0.        ,  0.        ,  1.        , ...,  0.21461465,
         0.06760493, -0.40311364],
       ...,
       [ 1.        ,  0.        ,  1.        , ...,  0.02271325,
        -0.04641985, -0.40311364],
       [ 0.        ,  0.        ,  0.        , ..., -0.55490995,
        -0.43596577, -0.40311364],
       [ 1.        ,  0.        ,  1.        , ..., -0.45704024,
        -0.61840543, -0.40311364]], shape=(12324, 15))

## Model Training And Model Selection

In [66]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [67]:
##Create a Function to Evaluate Model
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [68]:
## Beginning Model Training
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
   
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) 

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)
    accuracy_train = model.predict(X_train)
    accuracy_test = model.predict(X_test)

    
    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))


    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 560033.0416
- Mean Absolute Error: 272466.6938
- R2 Score: 0.6202
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 469709.7653
- Mean Absolute Error: 270687.9195
- R2 Score: 0.6824
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 560033.0451
- Mean Absolute Error: 272464.9646
- R2 Score: 0.6202
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 469709.0157
- Mean Absolute Error: 270685.9957
- R2 Score: 0.6824
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 560033.6901
- Mean Absolute Error: 272430.2204
- R2 Score: 0.6202
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 469701.9923
- Mean Absolute Error: 270657.0501
- R2 Score: 0.6824
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 312752.8759
- Mean Absolute Error: 90219.5229
- R2 Score: 0.8815
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 242487.4055
- Mean Absolute Error: 108928.0834
- R2 Score: 0.9154
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 19757.1527
- Mean Absolute Error: 4859.9670
- R2 Score: 0.9995
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 245155.9439
- Mean Absolute Error: 119339.9924
- R2 Score: 0.9135
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 124060.7693
- Mean Absolute Error: 39059.9393
- R2 Score: 0.9814
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 187096.3234
- Mean Absolute Error: 97152.0527
- R2 Score: 0.9496
===================================

In [69]:
#Initialize few parameter for Hyperparamter tuning
linear_params = {"fit_intercept": [True, False]}

lasso_params = {"alpha": [0.01, 0.1, 1.0, 10.0, 100.0]}

ridge_params = {"alpha": [0.01, 0.1, 1.0, 10.0, 100.0]}

knn_params = {"n_neighbors": [2, 3, 10, 20, 40, 50],
              "weights": ["uniform", "distance"]}

dt_params = {
    "max_depth": [None, 5, 10, 20, 30],
    "min_samples_split": [2, 5, 10, 20],
    "min_samples_leaf": [1, 2, 4, 8]
}

rf_params = {
    "n_estimators": [100, 200, 500, 1000],
    "max_depth": [5, 8, 15, None, 10],
    "max_features": ["sqrt", "log2", 5, 8],
    "min_samples_split": [2, 8, 15, 20],
    "min_samples_leaf": [1, 2, 4]
}

In [70]:
# Models list for Hyperparameter tuning
randomcv_models = [
    ("Linear Regression", LinearRegression(), linear_params),
    ("Lasso", Lasso(), lasso_params),
    ("Ridge", Ridge(), ridge_params),
    ("KNN", KNeighborsRegressor(), knn_params),
    ("Decision Tree", DecisionTreeRegressor(), dt_params),
    ("RF", RandomForestRegressor(), rf_params)
]

In [71]:
##Hyperparameter Tuning
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=0,
                                   n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

---------------- Best Params for Linear Regression -------------------
{'fit_intercept': True}
---------------- Best Params for Lasso -------------------
{'alpha': 100.0}
---------------- Best Params for Ridge -------------------
{'alpha': 100.0}
---------------- Best Params for KNN -------------------
{'weights': 'distance', 'n_neighbors': 3}
---------------- Best Params for Decision Tree -------------------
{'min_samples_split': 2, 'min_samples_leaf': 2, 'max_depth': 30}
---------------- Best Params for RF -------------------
{'n_estimators': 200, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 5, 'max_depth': None}

In [ ]:
## Retraining the models with best parameters
models = {
    "Linear Regression": LinearRegression(fit_intercept=True),
    "Lasso": Lasso(alpha=100.0),
    "Ridge": Ridge(alpha=100.0),
    "K-Neighbors Regressor": KNeighborsRegressor(n_neighbors=3, weights='distance', n_jobs=-1),
    "Decision Tree": DecisionTreeRegressor(max_depth=10, min_samples_split=10, min_samples_leaf=2),
    "Random Forest Regressor": RandomForestRegressor(n_estimators=200, max_depth=None, min_samples_split=2, 
                                                    min_samples_leaf=1, max_features=5, n_jobs=-1)
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) 

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)
    
    
    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 560033.0416
- Mean Absolute Error: 272466.6938
- R2 Score: 0.6202
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 469709.7653
- Mean Absolute Error: 270687.9195
- R2 Score: 0.6824
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 560046.2772
- Mean Absolute Error: 272318.1276
- R2 Score: 0.6202
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 469656.3945
- Mean Absolute Error: 270537.6673
- R2 Score: 0.6825
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 560402.5564
- Mean Absolute Error: 270615.8755
- R2 Score: 0.6197
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 469532.7822
- Mean Absolute Error: 269323.1371
- R2 Score: 0.6826
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 19933.0751
- Mean Absolute Error: 4887.8881
- R2 Score: 0.9995
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 238839.9768
- Mean Absolute Error: 106900.6614
- R2 Score: 0.9179
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 286267.6870
- Mean Absolute Error: 94930.8998
- R2 Score: 0.9008
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 335252.5250
- Mean Absolute Error: 115304.7833
- R2 Score: 0.8382
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 124041.7555
- Mean Absolute Error: 38472.2605
- R2 Score: 0.9814
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 178776.0701
- Mean Absolute Error: 93970.1237
- R2 Score: 0.9540
===================================

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Select the best model (Random Forest Regressor, based on test R² score of 0.9535)
best_model = models['Random Forest Regressor']

def predict_car_price(brand, model, vehicle_age, km_driven, seller_type, fuel_type, transmission_type, mileage, engine, max_power, seats):
    input_data = pd.DataFrame({
        'brand': [brand],
        'model': [model],
        'vehicle_age': [vehicle_age],
        'km_driven': [km_driven],
        'seller_type': [seller_type],
        'fuel_type': [fuel_type],
        'transmission_type': [transmission_type],
        'mileage': [mileage],
        'engine': [engine],
        'max_power': [max_power],
        'seats': [seats]
    })
    
    try:
        input_data['brand'] = le_brand.transform([input_data['brand'][0]])[0]
        input_data['model'] = le_model.transform([input_data['model'][0]])[0]
    except ValueError as e:
        return f"Error: Brand or model not found in training data. Details: {str(e)}"
    
    input_transformed = preprocessor.transform(input_data)
    
    predicted_price = best_model.predict(input_transformed)[0]
    
    return predicted_price

if __name__ == "__main__":
    price = predict_car_price(
        brand='Maruti',
        model='Alto',
        vehicle_age=9,
        km_driven=120000,
        seller_type='Individual',
        fuel_type='Petrol',
        transmission_type='Manual',
        mileage=19.7,
        engine=796,
        max_power=46.3,
        seats=5
    )
    if isinstance(price, str):
        print(price)
    else:
        print(f"Predicted car price: ₹{price:.2f}")

Predicted car price: ₹178840.15

In [74]:
import pickle
with open('random_forest_model.pkl', 'wb') as f:
    pickle.dump(best_model, f)

with open('preprocessor.pkl', 'wb') as f:
    pickle.dump(preprocessor, f)

with open('label_encoder_brand.pkl', 'wb') as f:
    pickle.dump(le_brand, f)

with open('label_encoder_model.pkl', 'wb') as f:
    pickle.dump(le_model, f)

import json
with open('columns.json', 'w') as f:
    json.dump(list(df.columns), f)

In [78]:
# import pandas as pd
# from sklearn.preprocessing import LabelEncoder

# def predict_car_price_interactive(models, le_brand, le_model, preprocessor):

#     print("Please enter the following details:")
    
#     # Collect user inputs
#     brand = input("Brand (e.g., Maruti, Hyundai): ").strip()
#     model = input("Model (e.g., Alto, i20): ").strip()
#     vehicle_age = float(input("Vehicle Age (years): "))
#     km_driven = float(input("Kilometers Driven: "))
#     seller_type = input("Seller Type (Individual/Dealer/Trustmark Dealer): ").strip()
#     fuel_type = input("Fuel Type (Petrol/Diesel/CNG/LPG/Electric): ").strip()
#     transmission_type = input("Transmission Type (Manual/Automatic): ").strip()
#     mileage = float(input("Mileage (kmpl or km/kg): "))
#     engine = float(input("Engine Capacity (cc): "))
#     max_power = float(input("Max Power (bhp): "))
#     seats = int(input("Number of Seats: "))
    
#     # Create input DataFrame
#     input_data = pd.DataFrame({
#         'brand': [brand],
#         'model': [model],
#         'vehicle_age': [vehicle_age],
#         'km_driven': [km_driven],
#         'seller_type': [seller_type],
#         'fuel_type': [fuel_type],
#         'transmission_type': [transmission_type],
#         'mileage': [mileage],
#         'engine': [engine],
#         'max_power': [max_power],
#         'seats': [seats]
#     })
    
#     try:
#         # Transform categorical features
#         input_data['brand'] = le_brand.transform([input_data['brand'][0]])[0]
#         input_data['model'] = le_model.transform([input_data['model'][0]])[0]
        
#         # Preprocess and predict
#         input_transformed = preprocessor.transform(input_data)
#         predicted_price = models['Random Forest Regressor'].predict(input_transformed)[0]
        
#         print(f"\nPredicted car price: ₹{predicted_price:,.2f}")
#         return predicted_price
        
#     except ValueError as e:
#         error_msg = f"Error: {str(e)}"
#         if "not in list" in str(e):
#             error_msg = "Error: Brand or model not found in our database. Please check your input."
#         print(error_msg)
#         return None

# # Example usage:
# if __name__ == "__main__":
#     # Assuming these are already defined in your code:
#     # models, le_brand, le_model, preprocessor
#     predict_car_price_interactive(models, le_brand, le_model, preprocessor)